.header-most-popular-clients {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
}
h4 {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-transform: uppercase;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    color: white;
    text-align: center;
}
.logo {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.logo-top, .architech {
    margin-top: 22px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
}
.architech:hover {
    color: #18B4CF;
}

.menu {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 20px;
    margin: auto 0;
}

.menu > a {
    margin-right: 35px;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}
.menu > a:hover {
    color: #1c93a8;
}
.search {
    width: 20px;
    text-decoration: none;
    padding: 26px;
    background-color: black;
    color: #f9f7f7;
}
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../Images/Flexbox/html_css_homework_homework6_img_header-bg.jpeg") no-repeat center center fixed;
    /*background: url("../Images/Flexbox/header-background.png") no-repeat center center fixed;*/
    background-size: cover;
    color: white;
}
.subscribe a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.last-news-buttons {
    margin: 44px 0 74px 0;
}
.button-sub {
    background-color: #89ca62;
    padding: 16px 19px;
    margin-right: 20px;
}
.button-articles {
    background-color: #15b9d5;
    padding: 16px 30px;
    margin-left: 20px;
}
.subscribe h2 {
    margin: 0;
    padding-top: 165px;
}
.clients {
    display: flex;
    justify-content: center;
}
.clients > a {
    margin: 195px 27px;
}

.popular-clients {
    width: 100%;
    /*background: url("../Images/Flexbox/Shape 22.png") no-repeat center center fixed;*/
    background: url("../Images/Flexbox/html_css_homework_homework6_img_parallax-bg.jpeg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    padding-top: 156px;
    text-transform: uppercase;
}
.box-most-popular-posts {
    background-color: #f9f7f7;
    /*background-color: #E5E5E5;*/
}
.box-most-popular-posts h4 {
    text-align: center;
    margin: 0;
    padding: 50px 0;
}
.most-popular-posts {
    text-align: center;
    width: 100%;
    height: 810px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    /*padding: 0 350px 72px 350px;*/
    padding-bottom: 72px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.most-popular-posts > div >a {
    width: 100%;
    display: inline-block;
    padding: 14px 0;
    text-decoration: none;
    color: black;
    line-height: 25px;
    background-color: #f9f7f7;
}
.most-popular-posts > div{
    width: 370px;
}

.first {
    order: 1;
}
.second {
    order: 3;
}
.third {
    order: 5;
}
.forth {
    order: 2;
}
.fifth {
    order: 4;
}
.sixth {
    order: 6;
}
.top-rated-hot-news {
    display: grid;
    font-family: 'Open Sans', sans-serif;
}
.top-reated {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hot-news {
    text-align: center;
    margin: 0 auto;
    width: 1170px;
    display: grid;
    grid-template-columns: repeat(4, 277px);
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
    /*align-items: center;*/
    justify-content: center;
    grid-template-areas:
    "emirate emirate emirate spain"
    "egypt egypt maldives maldives"
    "tenerife tenerife britaine britaine"
    "ireland spain-resort spain-resort spain-resort";
}
.hot-news > div > div > h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    margin-bottom: 14px;
    margin-top: 10px;
    padding-right: 27px;
}

.emirate {
    grid-area: emirate;
}
.spain {
    grid-area: spain;
}
.egypt {
    grid-area: egypt;
}
.maldives {
    grid-area: maldives;
}
.tenerife {
    grid-area: tenerife;
}
.britaine {
    grid-area: britaine;
}
.ireland {
    grid-area: ireland;
}
.spain-resort {
    grid-area: spain-resort;
}
.emirate, .spain, .egypt, .maldives, .tenerife, .britaine,.spain-resort {
    display: flex;
    justify-content: flex-start;
}
.egypt, .maldives, .tenerife, .britaine {
    flex-direction: column;
}

.long-box {
    /*width: 375px;*/
}

.description {
    background-color: #f9f7f7;
}
.description p {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.paragraph {
    margin: 0;
    padding: 0 14px;
}
.small-box p {
    margin-top: 16px;
    margin-bottom: 0;
    padding-bottom: 14px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}



/*footer*/
.footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    background-color: black;
}
.footer > p {
    margin: 0;
    font-size: 13px;
    color: white;
    padding: 30px 0 25px 0;
}



/*все иконки и лого*/

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../Images/Flexbox/css_sprites.png") no-repeat;
    margin: 0;
}
.top-icon {
    width: 50px;
    background-position: 0 -10px;
    margin-left: 16px;
    margin-top: 22px;
}
.nat-post {
    width: 210px;
    height: 50px;
    background-position: -515px 0;
}
.dryme {
    width: 140px;
    height: 50px;
    background-position: -190px -10px;
}
.house-home {
    width: 240px;
    height: 50px;
    background-position: -737px -13px;
}
.journy {
    width: 150px;
    height: 50px;
    background-position: -350px -10px;
}
.liot {
    margin-top: 25px;
    width: 140px;
    height: 30px;
    background-position: -55px -8px;
}

/*.container h4 {*/
/*    color: #18B4CF;*/
/*    font-weight: bold;*/
/*    font-size: 27px;*/
/*    line-height: 37px;*/
/*    text-transform: uppercase;*/
/*}*/


/*.container {*/
/*    width: 1900px;*/
/*    text-align: center;*/
/*    margin: 0 auto;*/
/*    padding: 0;*/
/*    overflow-x: hidden;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*}*/

/*.cube p {*/
/*    margin: 0 37px ;*/
/*    padding-bottom: 20px;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*    line-height: 25px;*/
/*}*/
/*.cube {*/
/*    background-color: #f9f7f7;*/
/*}*/

/*.input {*/
/*    !*background-color: #18B4CF;*!*/
/*    background-color: red;*/
/*}*/
.hot-news > div:hover {
    cursor: pointer;
}


/*=== === === JS === === ===*/

.top-icon-click {
    position: relative;
    top: 0;
    left: 0;
    /*transform: scale(2);*/
    /*transition: 0.5s;*/
    /*transform: translateY(150px);*/
}
@keyframes logo {
    0% {
        transform: rotateX(90deg);
    }
    50% {
        transform: translate(380px,100px);
    }
    100% {
        transform: translate(0,0);
    }
}
.top-icon-click {
    animation: logo 2s linear;
}





.popup-nav-menu {
    position: absolute;
    left: 30%;
    flex-direction: column;
    margin-top: 20px ;
    padding: 10px;
    list-style-type: none;
    color: red;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /*border: 1px solid red;*/

}
.nav-menu-li {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #717171;
    background-color: #efcdc1;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
}


.btn-show-block {
    display: flex;
    /*justify-content: center;*/
    /*align-self: center;*/
    /*position: relative;*/
    /*left: 50% calc(60px);*/
    /*margin-right: 50%;*/
    /*text-align: center;*/
    /*margin-top: 20px;*/
    margin: 30px auto 40px auto;
    padding: 10px;
    color: #18B4CF;
    background-color: white;
    border-radius: 5px;
    border-color: #18B4CF;
}

.hide {
    display: none;
}

.scroll-top-to-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*border: 2px green solid;*/
    background-color: #5b3b33;
    font-size: 16px;
    color: white;
    font-weight: 900;
}